@use '../../../scss//abstracts/' as *;
@use 'sass:math';

.sidebar {
    @include flex(stretch, flex-start);
    flex-direction: column;
    color: hsl(0, 0%, 16%);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #f7f7f7;
    z-index: 100;

    @media (max-width: 700px) {
        width: 100vw;
        background-color: #fff;
        color: #2a2a2a;
        z-index: 1;
    }

    &__logo {
        @include flex();
        height: 110px;

        @include tablet {
            justify-content: space-between;
            height: math.div(110px, 1.8);
            padding: 0 $mobileSpacing;
            margin-bottom: $mobileSpacing;
        }

        img {
            --size: 40px;
            width: var(--size);
            height: var(--size);
        }

        .sidebar-close {
            cursor: pointer;
            display: none;

            i {
                font-size: 2rem;
            }

            @media (max-width: 700px) {
                display: block;
            }
        }
    }

    &__menu {
        @include flex(stretch, flex-start);
        flex-direction: column;
        flex-grow: 1;

        &__item {
            @include flex(center, flex-start);
            position: relative;
            margin-bottom: 1rem;
            padding-left: 10%;
            transition: color 0.3s ease-in-out;

            @include tablet {
                padding-left: $mobileSpacing;
            }

            &:hover {
                color: #2a2a2a;

                @include tablet {
                    color: #2a2a2a;
                }
            }

            &.active {
                font-weight: 700;
                color: salmon;

                @include tablet {
                    color: salmon;
                }

                &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 5px;
                    left: 0;
                    top: 0;
                    background-color: salmon;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;

                    @include tablet {
                        background-color: #2a2a2a;
                    }
                }
            }

            &__icon {
                --size: 30px;
                width: var(--size);
                height: var(--size);
                margin-right: 1rem;
                @include flex(center, center);

                @include tablet {
                    margin-right: 1rem;
                }

                i {
                    font-size: 1.9rem;
                }
            }

            &:last-child {
                margin-top: auto;
                cursor: pointer;
            }
        }
    }
}