.page-paper{
    background-color: #fdfdff;
}
.page-paper .page-header{
    padding: 32px 32px 32px 50px;
    display: flex;
    margin-bottom: 16px;
}
.page-header .page-icon{
    display: inline-block;
    padding: 16px;
    color: #3c44b1;
    border-radius: 12px;
}
.page-header .text{
    padding-left: 32px;
}
.text .subtitle{
    opacity: 0.6;
}