@use './scss/abstracts/' as *;
@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// <---------------------Global Styles ------------------------->
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $fontFamily;
    color: $txtColor;
    font-size: $fontSizeNormal;
    line-height: 1.5;
    background-color: $bodyBg;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

.mb {
    margin-bottom: $spacing;

    @include tablet {
        margin-bottom: $mobileSpacing;
    }
}

.title {
    font-size: $fontSizeMedium;
    font-weight: 700;
}

.txt-success {
    color: $green;
}

.txt-danger { 
    color: $red;
}


//<---------------------Grid Styles ------------------------->

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 math.div($spacing, 2) * -1;

    @include tablet {
        margin: 0 math.div($mobileSpacing, 2) * -1;
    }
}

[class*="col-"] {
    padding: 0 math.div($spacing, 2);

    @include tablet {
        padding: 0 math.div($mobileSpacing, 2);
    }
}

@for $i from 1 through 12 {
    $v: math.div($i, 12) * 100;
    .col-#{$i} {
        width: $v*1%;
    }
}

// medium screen

@include tablet {
    @for $i from 1 through 12 {
        $v: math.div($i, 12) * 100;
        .col-md-#{$i} {
            width: $v*1%;
        }
    }

    .hide-md {
        display: none;
    }
}

// small screen

@include mobile {
    @for $i from 1 through 12 {
        $v: math.div($i, 12) * 100;
        .col-sm-#{$i} {
            width: $v*1%;
        }
    }

    .hide-sm {
        display: none;
    }
}